/*.db
/*.exe
/vc2015/*
!/vc2015/test.vcxproj.user
!/vc2015/test.vcxproj.filters
!/vc2015/test.vcxproj.user
!/vc2015/test.cpp
/vc2019/*
!/vc2019/test.vcxproj.user
!/vc2019/test.vcxproj.filters
!/vc2019/test.vcxproj.user
!/vc2019/test.cpp